/****************************************************************************************************
Layout
*****************************************************************************************************/
$layout-bg-color: #f1f4f7;

/****************************************************************************************************
Navbar
*****************************************************************************************************/
$vertical-navbar-width: 270px;

/****************************************************************************************************
Footer
*****************************************************************************************************/
$footer-height: 60px;
$footer-text-color: $gray-700;
$footer-bg-color: $white;
